/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 56px;
  background-image: url("../images/30235.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 60px; /* Margin bottom by footer height */
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
